<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> {{produit.nom | slice:0:10}}
      <span *ngIf="produit.nom.length > 10">
        ...
      </span>
    </mat-card-title>
    <h5 *ngIf="produit.artiste">{{produit.artiste}}</h5>
    </mat-card-header>
    <span *ngIf="produit.img != ''">
      <img mat-card-image src="{{produit.img}}" alt="Photo">
    </span>
    <span *ngIf="!produit.img">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo">
    </span>
    <mat-card-content>
      <p>
        {{produit.synopsis}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>
